nav a {
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
}

.navbar-collapse {
  background: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.guitar-logo {
  height: 120px;
  filter: invert(30%) sepia(49%) saturate(1430%) hue-rotate(84deg) brightness(99%) contrast(90%);
}

.guitar-logo-white {
  height: 120px;
  filter: invert(87%) sepia(78%) saturate(0%) hue-rotate(244deg) brightness(112%) contrast(100%);
}

.press-header {
  font-size: 2rem !important;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 1rem;
  padding: 0.75rem 0;
  min-width: 95px;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #157d17;
  }
}
#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #157d17 !important;
}
@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: rgba(57, 82, 58, 1);
  }

  #mainNav.main {
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }

  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  @media (hover: hover) and (pointer: fine) {
    #mainNav.navbar-scrolled .navbar-brand:hover {
      color: #157d17;
    }
    #mainNav .navbar-brand:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #fff;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: #157d17;
    }
  }
}
