<section [ngClass]="currentClasses" id="about">
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Bio</h2>
        <hr class="divider light my-4">
        <p class="text-white-75 mb-4">
          Tyler Levs is an independent singer-songwriter and live music performer from Maine USA.
          While navigating soft folk, acoustic rock and catchy pop hooks Tyler has continued to grow as an artist across the internet and in the New England area.
        </p>
        <p class="text-white-75 mb-4">
          Full-time as of 2019, he has streamed almost 9,000 hours on Twitch.TV, uploaded 300+ one take covers to Youtube, released original music in multiple genres
          on all streaming platforms, performed at the San Diego and Las Vegas Twitch Conventions, started a duo band with his songwriting partner
          Joliet4 (called <a class="text-white" href="https://mutu4l.com" target="_blank">MUTU4L</a>) and continues to perfect his craft as a guitarist, loopstation artist and producer.
        </p>
        <p class="text-white-75 mb-4">
          Tyler has performed at multiple bars and restaurants, private parties, as a supporting act for O-Town
          and at the New England music awards where he was also nominated and won Maine's Rising Artist.
        </p>
        <p class="text-white-75 mb-4">
          To find out more please stop by a live Twitch Stream or contact him through various social platforms.
        </p>
        <a class="btn btn-light btn-xl" (click)="scrollToContacts()">Contact Tyler</a>
      </div>
    </div>
  </div>
  <app-call-to-action></app-call-to-action>
</section>
