<div class="bg-light py-5" id="footer">
  <div class="container">
    <hr class="divider my-4" />
    <div class="container d-flex flex-wrap justify-content-center mb-3">
        <div class="d-flex justify-content-center mt-3">
            <a href="https://twitch.tv/tylerlevsmusic" class="social-link
            mr-3" target="_blank"><i class="fab fa-twitch fa-3x"></i><span
                class="sr-only">Twitch</span></a>
            <a href="https://www.facebook.com/tylerlevs" class="social-link
                mr-3" target="_blank"><i class="fab fa-facebook fa-3x"></i><span
                    class="sr-only">Facebook</span></a>
            <a href="https://twitter.com/tyler_levs" class="social-link
            mr-3" target="_blank"><i class="fab fa-twitter fa-3x"></i><span
                class="sr-only">Twitter</span></a>
            <a href="https://www.instagram.com/tylerlevs/"
                class="social-link mr-3" target="_blank"><i class="fab
                    fa-instagram fa-3x"></i><span class="sr-only">Instagram</span></a>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="https://www.tiktok.com/@tylerlevsmusic"
            class="social-link mr-3" target="_blank"><i class="fab
            fa-tiktok fa-3x"></i><span class="sr-only">Tiktok</span></a>
            <a href="https://www.youtube.com/c/TylerLevs" class="social-link
            mr-3" target="_blank"><i class="fab fa-youtube fa-3x"></i><span
                class="sr-only">Youtube</span></a>
            <a
            href="https://open.spotify.com/artist/5NUqe9c7M8oSBiHns5L6SE?si=TRX874RvTwKNMaWgtwtgbQ"
            class="social-link" target="_blank"><i class="fab fa-spotify
                fa-3x"></i><span class="sr-only">Spotify</span></a>
        </div>
    </div>
    <div class="small text-center text-muted">
      Copyright © 2020 <br />TylerLevsMusic
    </div>
  </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<% scriptIds.forEach((script) => { %>
    <script src="js/<%= script %>.js"></script>
<% }) %>

</body>
</html>