<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Let's Get In Touch!</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">For personal and business inquiries, or collaboration ideas send an email or write a
          message on Discord</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0" *ngFor="let contactMethod of contactMethods | async">
        <fa-icon [icon]="contactMethod.icon" size="3x"></fa-icon>
        <span class="sr-only">{{ contactMethod.name }}</span>
        <div *ngIf="!contactMethod.url">TylerLevsMusic#0949</div>
        <a *ngIf="contactMethod.url" class="d-block" href="{{ contactMethod.url }}}">{{ contactMethod.username }}</a>
      </div>
    </div>
  </div>
</section>
