<section *ngIf="countdowns && countdowns.length > 0" class="page-section mt-4" id="upcoming-releases">
  <div class="container mt-5">
    <h2 class="text-center mt-4">Upcoming Releases</h2>
    <hr class="divider my-4">
    <div class="row d-flex justify-content-center">
      <div *ngFor="let countdown of countdowns" class="card-container col-9 col-sm-6 col-md-4 col-lg-3">
        <div class="card shadow my-3">
          <div class="row no-gutters">
            <div class="col">
              <div
                class="col d-flex flex-column align-items-center justify-content-around p-3 text-white bg-primary user-select-none">
                <div class="text-center"><h5>{{ dayjs(countdown.releaseDate).format('MMMM') }}</h5></div>
                <div class="text-center"><h5>{{ dayjs(countdown.releaseDate).format('Do') }}</h5></div>
                <div class="text-center"><h5>{{ dayjs(countdown.releaseDate).format('YYYY') }}</h5></div>
              </div>
              <div
                class="countdown-card card-body d-flex flex-column justify-content-center align-items-center text-center">
                <h5 class="card-title">{{ countdown.title }}</h5>
                <div *ngIf="countdown.tracklist" class="text-center">
                  <p *ngFor="let track of countdown.tracklist">{{track.title}}</p>
                </div>
                <a *ngIf="countdown.presaveLink" href="{{countdown.presaveLink}}" class="card-link my-2"
                   target="_blank" rel="noopener noreferrer">
                  Presave on Spotify here!
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
