.countdown {
  cursor: pointer;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}

.countdown:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.hours, .minutes, .days, .seconds {
  font-size: 1.6rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
