<div class="bg-light py-5" id="footer">
  <div class="container">
    <hr class="divider my-4">
    <div class="container d-flex flex-wrap justify-content-center mb-3">
      <a *ngFor="let social of socials | async" class="social-link mx-1"
         href="{{social.url}}" target="_blank">
        <fa-icon [icon]="social.icon" size="3x"></fa-icon>
        <span class="sr-only">{{social.name}}</span>
      </a>
    </div>
    <div class="small text-center text-muted">
      Copyright © 2020 - {{year}} <br>TylerLevsMusic
    </div>
  </div>
</div>
