<div class="container">
  <h3 class="text-center">Your cart</h3>
  <hr class="divider my-4">
  <h4 class="text-center" *ngIf="cart && cart.length === 0">Your cart is empty</h4>
  <div class="container" *ngIf="cart && cart.length > 0">
    <div class="row d-flex justify-content-center">
      <div class="col-9 col-lg-6">
        <h5>Product</h5>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <h5>Price</h5>
      </div>
    </div>
    <div class="row mb-3 d-flex justify-content-center flex-wrap" *ngFor="let item of cart">
      <div class="col-9 col-lg-6">
        <p class="mb-0">{{item.product.name}}</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p class="mb-0">${{(item.product.price / 100) | number: '1.2-2'}}</p>
      </div>
      <div class="col-12 col-lg-9 mt-0" *ngIf="item.product.signable && item.signatureRequested.requested">
        <small>CUSTOMIZED <span *ngIf="item.signatureRequested.toWhom"> - Signed for: {{item.signatureRequested.toWhom}}</span></small>
      </div>
    </div>
    <div class="row d-flex justify-content-center pt-2">
      <div class="col-9 col-lg-6 d-flex justify-content-end">
        <p>Products:</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p>${{ (this.productsPrice / 100) | number: '1.2-2'}}</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-9 col-lg-6 d-flex justify-content-end">
        <p>Discount:</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p>${{ (this.discount / 100) | number: '1.2-2'}}</p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-9 col-lg-6 d-flex justify-content-end">
        <p><strong>Subtotal:</strong></p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p><strong>${{ (this.subtotal / 100) | number: '1.2-2'}}</strong></p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-9 col-lg-6 d-flex justify-content-end">
        <p>Shipping&Handling:</p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p *ngIf="storeState === StoreState.Confirm">${{ (this.shipping / 100) | number: '1.2-2'}}</p>
        <p class="text-center" *ngIf="storeState === StoreState.Main">
          <fa-icon [icon]="faQuestion" [ngbPopover]="popContent" popoverTitle="Calculated based on country:"></fa-icon>
          <ng-template #popContent>US Domestic: $7<br>Canada: $10<br>International: $15</ng-template>
        </p>
      </div>
    </div>
    <div *ngIf="storeState === StoreState.Confirm" class="row d-flex justify-content-center">
      <div class="col-9 col-lg-6 d-flex justify-content-end">
        <p><strong>Total:</strong></p>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <p *ngIf="storeState === StoreState.Confirm">${{ (this.total / 100) | number: '1.2-2'}}</p>
      </div>
    </div>
    <div *ngIf="storeState === StoreState.Main" class="row d-flex justify-content-center">
      <div class="col-12 d-flex justify-content-center">
        <button class="btn btn-primary btn-xl" (click)="proceedButtonClicked()">Enter shipping details</button>
      </div>
    </div>
  </div>
</div>

