.nav-link {
  cursor: pointer;
}

.navbar-collapse {
  background: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.guitar-logo {
  height: 120px;
  filter: invert(30%) sepia(49%) saturate(1430%) hue-rotate(84deg) brightness(99%) contrast(90%);
}
