<div class="container w-100 d-flex flex-column align-items-center">
  <h4 class="mb-4 text-center">Store orders</h4>
  <div class="container-fluid w-100 mb-5">
    <div class="row">
      <div class="col-3">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="text-center">New</h5>
            <h3 class="text-center">{{ (newOrders$ | async)?.length }}</h3>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="text-center">Invoiced</h5>
            <h3 class="text-center">{{ (invoicedOrders$ | async)?.length }}</h3>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="text-center">Paid</h5>
            <h3 class="text-center">{{ (paidOrders$ | async)?.length }}</h3>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card shadow">
          <div class="card-body">
            <h5 class="text-center">Shipped</h5>
            <h3 class="text-center">{{ (shippedOrders$ | async)?.length }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-dash-orders-list [orders]="(newOrders$ | async) || []" [title]="'New orders'"></app-dash-orders-list>
  <app-dash-orders-list [orders]="(invoicedOrders$ | async) || []" [title]="'Invoiced orders'"></app-dash-orders-list>
  <app-dash-orders-list [orders]="(paidOrders$ | async) || []" [title]="'Paid orders'"></app-dash-orders-list>
  <app-dash-orders-list [orders]="(shippedOrders$ | async)  || []" [title]="'Shipped orders'"></app-dash-orders-list>
  <app-dash-orders-list [orders]="(abandonedOrders$ | async)  || []" [title]="'Left unpaid'"></app-dash-orders-list>
</div>
