<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Tyler Levs is a singer-songwriter from Maine USA. He is a full-time music streamer, Twitch Partner and collaborates on original music and cover performances." />
        <meta name="keywords" content="Tyler Levs, TylerLevsMusic, TylerLevs, Tyler Levs Music, Singer, Songwriter, Twitch, Streamer, Indie, Music, Musician, Loopstation" />
        <meta name="author" content="Gabor Meszaros" />
        <title><%= title %></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/brands.min.css" integrity="sha512-apX8rFN/KxJW8rniQbkvzrshQ3KvyEH+4szT3Sno5svdr6E/CP0QE862yEeLBMUnCqLko8QaugGkzvWS7uNfFQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css" integrity="sha512-jQqzj2vHVxA/yCojT8pVZjKGOe9UmoYvnOuM/2sQ110vxiajBU+4WkyRs1ODMmd4AfntwUEV4J+VfM6DkfjLRg==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
        <!-- Modernizr webp check -->
        <script src="js/modernizr-custom.js"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <% scriptIds.forEach((script) => { %>
            <link href="css/<%= script %>.css" rel="stylesheet" />
        <% }) %>
        
    </head>
    <body id="page-top">

<%- include('partials/navbar'); %>

<!-- Content -->
<div class="container-fluid" id="content-container">
    <section id="cover d-flex flex-column align-items-center" class="mb-4">
    <div class="d-flex justify-content-center mb-3 mt-0 mt-sm-5">
        <h1 class="text-uppercase font-weight-bold text-center">
        Hit Me Like a Dream
        </h1>
    </div>
    <div class="countdown-background d-flex flex-column justify-content-end align-items-center mb-2 mx-auto text-white text-center countdown-hitmelikeadream">
            <div class="container-fluid row mb-5">
                <div class="col-6 d-flex flex-column mb-0 mb-xs-3">
                    <span class="cd-number text-center days"></span>
                    <span class="text-center">Days</span>
                </div>
                <div class="col-6 d-flex flex-column mb-0 mb-xs-3">
                    <span class="cd-number text-center hours"></span>
                    <span class="text-center">Hours</span>
                </div>
            </div>
            <div class="container-fluid row mb-3">
                <div class="col-6 d-flex flex-column">
                    <span class="cd-number text-center minutes"></span>
                    <span class="text-center">Minutes</span>
                </div>
                <div class="col-6 d-flex flex-column">
                    <span class="cd-number text-center seconds"></span>
                    <span class="text-center">Seconds</span>
                </div>
        </div>
    </div>
    <div class="mt-4">
        <h5 class="display-5 text-center">
            <a href="/presave/hit-me-like-a-dream" target="_blank">
            Presave Hit Me Like A Dream on Spotify
            </a>
        </h5>
    </div>
    </section>
</div>

<!-- Countdown timer JS-->
<script src="js/countdowntime/moment.min.js" defer></script>
<script src="js/countdowntime/moment-timezone.min.js" defer></script>
<script src="js/countdowntime/moment-timezone-with-data.min.js" defer></script>
<script src="js/countdowntime/countdowntime.js" defer></script>

<%- include('partials/footer'); %>
