body {
    color: rgb(17, 55, 17);
}

.press-header {
    font-size: 3rem !important;
}

.page-section {
    padding: 2rem 0;
}

#content-container {
    padding-top: 1rem;
}

#mainNav {
    background-color: rgba(57, 82, 58, 1);
    box-shadow: none;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
}

#musicCarousel {
    min-height: 730px;
}

@media screen and (min-width: 768px) {
    #musicCarousel {
        min-height: 510px;
    }
}