:root {
    --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    height: 100%
}

body {
    height: 100%;
    padding-top: 140px;
    padding-bottom: 95px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.social-link {
color: #157d17;
font-size: 12px;
-webkit-transition: 400ms;
-moz-transition-duration: 400ms;
-o-transition-duration: 400ms;
transition-duration: 400ms;
}

.social-link:hover {
color: rgba(21, 125, 23, 0.5);
}

.features-icons {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features-icons .features-icons-container {
  height: 5.5rem;
}

.features-icons .features-icons-item {
  min-height: 145px;
  font-size: 1rem;
  -webkit-transition: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

.features-icons .features-icons-item:hover {
  font-size: 1.1rem;
  -webkit-transition: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

.features-icons .features-icons-item a {
  color:rgb(0, 0, 0);
}

.features-icons .features-icons-item .features-icons-icon {
  height: 4.5rem;
  max-height: 4.5rem;
  cursor: pointer;
  -webkit-transition: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

.features-icons .features-icons-item:hover .features-icons-icon {
  height: 5rem;
  max-height: 5rem;
  -webkit-transition: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}

#merch-img {
  max-width: 90%;
}

#sig-name-div {
  display: none;
}

#content-container {
  padding-bottom: 95px;
}

/* xs */
.cd-number {
  font-size: 2.5rem;
}

#cover-img {
    width: 45%;
    height: auto;
}

#order-cover-img {
    width: 75%;
    height: auto;
}

#order-masthead-section {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* sm */
@media (min-width: 768px) {
    #cover-img {
        width: 40%;
    }
    #order-cover-img {
        width: 45%;
    }
}
/* md */
@media (min-width: 992px) {
    #cover-img {
        width: 35%;
    }
    #order-cover-img {
        width: 35%;
    }
}
/* lg */
@media (min-width: 1200px) {
    #cover-img {
        width: 35%;
    }
    #order-cover-img {
        width: 35%;
    }
}