<div class="container">
  <h3 class="text-center">Your shipping details</h3>
  <hr class="divider my-4">
  <div class="d-flex justify-content-center flex-wrap">
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">Email: </div>
      <div class="col-5">{{formData.email}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">Name: </div>
      <div class="col-5">{{formData.mailName}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">Address 1:</div>
      <div class="col-5">{{formData.street1}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3" *ngIf="formData.street2">
      <div class="col-4">Address 2:</div>
      <div class="col-5">{{formData.street2}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">City:</div>
      <div class="col-5">{{formData.city}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">Zip code:</div>
      <div class="col-5">{{formData.zip}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3" *ngIf="formData.state">
      <div class="col-4">State:</div>
      <div class="col-5">{{formData.state}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3">
      <div class="col-4">Country:</div>
      <div class="col-5">{{formData.country | countryCodeToName}}</div>
    </div>
    <div class="col-12 col-md-7 d-flex justify-content-center mb-3" *ngIf="formData.otherRequests">
      <div class="col-4">Other requests:</div>
      <div class="col-5">{{formData.otherRequests}}</div>
    </div>
  </div>

  <form (ngSubmit)="confirmForm.form.valid && submitOrder()" #confirmForm="ngForm"
        class="d-flex justify-content-center flex-wrap">
    <div class="col-12 col-md-9 mb-3 d-flex justify-content-center flex-wrap">
      <ngx-turnstile name="captcha"
                     #captcha="ngModel"
                     [siteKey]="recaptchaSiteKey"
                     theme="light"
                     [(ngModel)]="formData.captcha"
                     [ngClass]="{ 'is-invalid': confirmForm.submitted && captcha.invalid, 'is-valid': captcha.dirty && captcha.valid }"
                     required></ngx-turnstile>
      <div class="invalid-feedback text-center">
        You must complete the Captcha challenge before submitting!
      </div>
    </div>
    <div class="col-12 col-md-9 mb-3 d-flex justify-content-between align-items-center flex-wrap">
      <button class="btn btn-outline-dark" type="button" (click)="goBack()">Go back</button>
      <button class="btn btn-primary btn-xl" type="submit">Submit order</button>
    </div>
  </form>


</div>
