<div class="container">
  <div class="d-flex justify-content-center py-5">
    <fa-icon [icon]="faCheckCircle" size="5x"></fa-icon>
  </div>
  <div class="text-center">
    <h3 class="mb-5">Thank you for your order!</h3>
    <p class="mb-5">Your order has been received. It will be manually processed by Tyler, so it might take some time until you get your invoice to the email address you provided. In the meantime, check out the rest of the website!</p>
    <a routerLink="/" class="btn btn-primary btn-xl">Back to Main Page</a>
  </div>
</div>
