<header class="masthead">
  <div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <!-- Switch between logo and text with breakpoints -->
        <h1 class="text-uppercase text-white fw-bold d-none d-lg-block">Tyler Levs Music</h1>
        <div class="d-block d-lg-none">
          <img class="jumbotron-guitar" src="assets/svg/guitar-logo-jumbotron.svg" alt="Large guitar logo with Tyler Levs text in it">
        </div>
        <hr class="divider my-4">
      </div>
      <div class="col-lg-8 fw-normal align-self-baseline">
        <p class="text-white-75 fw-bolder mb-5">Singer/Songwriter, Musician, Twitch Streamer, <br>Fellow Human Being</p>
        <a class="btn btn-primary btn-xl mb-3">Check Out the live stream</a>
        <a class="btn btn-primary btn-xl mb-3 ms-2">... or upcoming events</a>
      </div>
    </div>
  </div>
</header>
