<div class="container-fluid">
  <h4 class="mb-4 text-center">Products</h4>
  <div class="container">
    <div class="row mb-3">
      <div class="col-4 fw-bolder">Product name</div>
      <div class="col-6 fw-bolder">Description</div>
      <div class="col-1 fw-bolder">Price</div>
      <div class="col-1"></div>
    </div>
  </div>
  <app-dash-products-list></app-dash-products-list>
  <div class="mt-4 d-flex justify-content-center align-items-center">
    <button class="btn btn-xl btn-primary" type="button" (click)="newOrder()">
      <span class="d-flex justify-content-center align-items-center">
        <fa-icon [icon]="plusSquare" size="2x"></fa-icon>
        <span class="ms-2">New product</span>
      </span>
    </button>
  </div>
</div>
