<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex gap-5 mb-3">
        <fa-icon [icon]="faApple" size="3x"></fa-icon>
        <fa-icon [icon]="faAmazon" size="3x"></fa-icon>
        <fa-icon [icon]="faSpotify" size="3x"></fa-icon>
      </div>
      <h2 class="my-4">Stream Tyler's music on all major platforms!</h2>
      <div class="d-flex gap-5 flex-column flex-md-row">
        <a class="btn btn-light btn-xl cta-button" href="https://music.apple.com/us/artist/tyler-levs/1160154519" target="_blank">Apple Music</a>
        <a class="btn btn-light btn-xl cta-button" href="https://music.amazon.com/artists/B01LYP1GH8/tyler-levs" target="_blank">Amazon Music</a>
        <a class="btn btn-light btn-xl cta-button" href="https://open.spotify.com/artist/5NUqe9c7M8oSBiHns5L6SE" target="_blank">Spotify</a>
      </div>
    </div>
  </div>
</section>
