<app-header [pageType]="pageType"></app-header>
<app-masthead [countdowns]="countdowns | async"></app-masthead>
<div class="main-content">
  <app-upcoming-releases [countdowns]="countdowns | async"></app-upcoming-releases>
  <app-latest-releases [releases]="releases | async"></app-latest-releases>
  <app-mutu4l></app-mutu4l>
  <app-events></app-events>
  <app-twitch></app-twitch>
  <app-youtube></app-youtube>
  <app-merch-promo></app-merch-promo>
  <app-bio></app-bio>
  <app-contacts></app-contacts>
</div>
