.fab-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.fab-container:hover, .fab-container.expanded {
  height: 100%;
}

@for $i from 2 through 20 {
  .fab-container:focus .sub-button:nth-child(#{$i}), .fab-container.expanded .sub-button:nth-child(#{$i}) {
    transform: translateY(calc(-60px * ($i - 1) - 20px));
  }
}

.fab-container .fab {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  z-index: 2;
}

.fab-container .fab::before {
  content: " ";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 35px;
  width: 35px;
  background-color: inherit;
  border-radius: 0 0 10px 0;
  z-index: -1;
}

.fab-container .fab .fab-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
}

.fab-content:hover {
  background-color: #157d17 !important;
}

.fab-checkbox-invisible-label {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fab-container .fab .fab-content fa-icon {
  color: white;
}

.fab-container .sub-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.fab-container .sub-button:hover {
  cursor: pointer;
  background-color: #157d17 !important;
}

.fab-container .sub-button fa-icon {
  color: white;
}

.fab-link {
  width: 100%;
  height: 100%;
}
