<section class="page-section" id="mutu4l">
  <div class="container">
    <h2 class="d-flex justify-content-center text-center mt-0">
      <picture class="col-8 col-md-6 col-lg-4 col-xl-3">
        <source srcset="assets/img/mutu4l-profile-circle.webp" type="image/webp">
        <a href="https://mutu4l.com" target="_blank" rel="noopener noreferrer">
          <img
            id="mutu4l-logo"
            src="assets/img/mutu4l-profile-circle.png"
            alt="MUTU4L logo"
            class="img-fluid rounded" />
        </a>
      </picture>
    </h2>
    <hr class="divider my-4">
    <h5 class="text-center">Joliet4 and Tyler have launched their official duo project MUTU4L!</h5>
    <div class="d-flex flex-column flex-md-row justify-content-center gap-3 mt-3">
      <a class="streaming-link-btn btn btn-primary"
         href="https://mutu4l.com/about-us" target="_blank" rel="noopener noreferrer">
        About MUTU4L
      </a>
      <a class="streaming-link-btn btn btn-primary"
         href="https://mutu4l.com/upcoming-events" target="_blank" rel="noopener noreferrer">
        Events by MUTU4L
      </a>
      <a class="streaming-link-btn btn btn-primary"
         href="https://mutu4l.com/our-music" target="_blank" rel="noopener noreferrer">
        Music by MUTU4l
      </a>
    </div>
  </div>
</section>
