<div class="row mb-3">
  <div class="row">
    <div class="col-1 d-flex align-items-center justify-content-center">
      <fa-icon [icon]="isCollapsed ? faPlus : faMinus" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
               aria-controls="orderCollapse"><span class="sr-only">Expand/collapse order</span></fa-icon>
    </div>
    <div class="col-9 col-md-8">
      <div class="row h-100">
        <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center">
          {{ order.createdDate | date:'mediumDate' }}
        </div>
        <div class="col-12 col-md-8 col-lg-6 d-flex align-items-center">
          <span class="text-truncate">{{ order.email }}</span>
        </div>
        <div class="col-lg-3 d-none d-lg-flex align-items-center">
          {{ order.cart.length }} {{ order.cart.length === 1 ? 'product' : 'products' }}
        </div>
      </div>
    </div>
    <div class="col-md-2 d-none d-md-flex align-items-center">
      {{ statusText }}
    </div>
    <div class="col-1 d-flex align-items-center">
      <app-dash-orders-list-action-button [order]="order"></app-dash-orders-list-action-button>
    </div>
  </div>
  <div class="row mt-2" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="col-12 col-lg-4">
      <h6 class="text-center">Address</h6>
      <p class="text-start">{{order.mailName}}</p>
      <p class="text-start">{{order.street1}}</p>
      <p class="text-start">{{order.street2}}</p>
      <p class="text-start">{{order.city}} - {{order.zip}}</p>
      <p class="text-start"><span *ngIf="order.state">{{order.state}},</span> {{order.country}}</p>
    </div>
    <div class="col-12 col-lg-5">
      <h6 class="text-center">Products</h6>
      <p *ngFor="let product of order.cart">Product: {{product.productName}}<br>Signed to: {{product.signatureName}}</p>
    </div>
    <div class="col-12 col-lg-3 text-center">
      <h6>Price</h6>
      <p>Products: {{order.productsPrice | currency: 'USD':'symbol':'1.2-2'}}</p>
      <p>Shipping: {{order.shippingPrice | currency: 'USD':'symbol':'1.2-2'}}</p>
      <p>Total: {{(order.productsPrice + order.shippingPrice) | currency: 'USD':'symbol':'1.2-2'}}</p>
      <h6 class="mt-2">Other requests</h6>
      <p>{{order.otherRequests ? order.otherRequests : 'No special requests'}}</p>
    </div>
  </div>
</div>
