.masthead {
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

:host-context(.webp) .masthead {
  background:
    linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
    url("^./assets/img/bg-masthead-202312-square-lores.webp"), rgba(53,118,68,255);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

:host-context(.no-webp) .masthead {
  background:
    linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
    url("^./assets/img/bg-masthead-202312-square-lores.jpg"), rgba(53,118,68,255);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-size: 2.25rem;
}

.jumbotron-guitar {
  max-height: 150px;
}

@media (min-width: 576px) {
  .jumbotron-guitar {
    max-height: 200px;
  }

  :host-context(.webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-midres.webp"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  :host-context(.no-webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-midres.jpg"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  :host-context(.webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-hires.webp"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  :host-context(.no-webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-hires.jpg"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .masthead {
    min-height: 40rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .masthead h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1450px) {
  :host-context(.webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-ultra.webp"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  :host-context(.no-webp) .masthead {
    background:
      linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%, rgba(57, 82, 58, 0.8) 100%),
      url("^./assets/img/bg-masthead-202312-square-ultra.jpg"), rgba(53,118,68,255);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  .masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
  }
}

.masthead .mutu4l-text-logo {
  max-width: 100px;
  width: 40%;
}

@media (min-height: 712px) {
  .masthead .mutu4l-text-logo {
    max-width: 150px;
  }
}

@media (min-height: 846px) {
  .masthead .mutu4l-text-logo {
    max-width: 200px;
  }
}


@media (min-height: 1024px) {
  .masthead .mutu4l-text-logo {
    max-width: 250px;
  }
}
