<header class="masthead" id="page-top">
  <div class="container-fluid h-100">
    <div class="row h-100 d-flex flex-column flex-nowrap align-items-center justify-content-around text-center">
      <div></div>
      <div class="row w-100 d-flex align-items-center justify-content-center">
        <div class="col-lg-10 align-self-end">
          <!-- Switch between logo and text with breakpoints -->
          <h1 class="text-uppercase text-white fw-bold d-none d-lg-block">Tyler Levs Music</h1>
          <div class="d-block d-lg-none">
            <img class="jumbotron-guitar" src="assets/svg/guitar-logo-jumbotron.svg" alt="Large guitar logo with Tyler Levs text in it">
          </div>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 fw-normal align-self-baseline">
          <p class="text-white-75 fw-bolder mb-3">Singer/Songwriter, Musician, Twitch Streamer, <br>Fellow Human Being</p>
          <div *ngIf="!countdowns || countdowns.length === 0">
            <a class="btn btn-primary btn-xl mb-3" (click)="scrollToFragment('twitch')">Check Out the live stream</a>
            <a class="btn btn-primary btn-xl mb-3 ms-2" (click)="scrollToFragment('events')">... or upcoming events</a>
          </div>
          <div *ngIf="countdowns && countdowns.length > 0">
            <app-countdown [releaseDate]="countdowns[0].releaseDate"></app-countdown>
          </div>
        </div>
      </div>
      <div>
        <a class="cursor-pointer" (click)="scrollToFragment('mutu4l')">
          <picture>
            <source srcset="assets/img/mutu4l-textonly.webp" type="image/webp">
            <img
              id="mutu4l-text-logo"
              src="assets/img/mutu4l-textonly.png"
              alt="MUTU4L text logo"
              class="mutu4l-text-logo img-fluid rounded">
          </picture>
        </a>
      </div>
    </div>
  </div>
</header>
