:host-context(.webp) .masthead {
  background: linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%,
    rgba(57, 82, 58, 0.8) 100%),
  url("^./assets/img/330-1021-lores.webp"), rgba(53,118,68,255);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

:host-context(.no-webp) .masthead {
  background: linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%,
    rgba(57, 82, 58, 0.8) 100%),
  url("^./assets/img/330-1021-lores.jpg"), rgba(53,118,68,255);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-size: 2.25rem;
}

.masthead {
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.jumbotron-guitar {
  max-height: 150px;
}

@media (min-width: 576px) {
  .jumbotron-guitar {
    max-height: 200px;
  }
}

@media (min-width: 992px) {
  .masthead {
    min-height: 40rem;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .masthead h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1450px) {
  :host-context(.webp) .masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%,
      rgba(57, 82, 58, 0.8) 100%),
    url("^./assets/img/330-1021-hires.webp"), rgba(53,118,68,255);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  :host-context(.no-webp) .masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(57, 82, 58, 0.7) 0%,
      rgba(57, 82, 58, 0.8) 100%),
    url("^./assets/img/330-1021-hires.jpg"), rgba(53,118,68,255);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
}

.masthead .mutu4l-text-logo {
  max-width: 100px;
  width: 40%;
}

