<section class="page-section" id="music-showcase">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h2 class="text-center">Music</h2>
      </div>
      <hr class="divider my-4">
    </div>
    <div class="row">
      <div
        class="col-2 col-lg-1 d-flex justify-content-center align-items-center cursor-pointer"
        (click)="carousel.prev()">
        <fa-icon [icon]="faChevronLeft" size="3x"></fa-icon>
        <span class="sr-only">Previous slide</span>
      </div>
      <div class="col-8 col-lg-10">
        <ngb-carousel
          [interval]="3000"
          [showNavigationArrows]="false"
          [showNavigationIndicators]="false" #carousel>
          <ng-template ngbSlide *ngFor="let release of releases">
            <div class="picsum-img-wrapper">
              <div class="press-carousel-card card">
                <div class="row">
                  <div class="col-lg-5 d-flex align-items-center">
                    <img class="card-img"
                         src="{{environment.coversAssetUrl}}/{{release.imageName}}-cover.png"
                         alt="{{release.title}} cover art">
                  </div>
                  <div class="col-lg-7">
                    <div class="card-body">
                      <h5 class="card-title"><a routerLink="/{{release.category}}/{{release.id}}">
                        {{release.text.header}}</a>
                      </h5>
                      <p class="card-text" *ngIf="release.text.subheader" [innerHTML]="release.text.subheader | unescape"></p>
                      <p class="card-text" *ngIf="release.text.text" [innerHTML]="release.text.text | unescape"></p>
                      <div *ngIf="release.tracklist && release.tracklist.length > 0">
                        <p class="card-text pb-1 mb-0">Featured tracks:</p>
                        <p class="my-0 py-0 ps-1" *ngFor="let track of release.tracklist">
                          <a *ngIf="track.youtubeLink" [href]="track.youtubeLink" target="_blank"> {{track.title}}</a>
                          <span *ngIf="!track.youtubeLink">{{track.title}}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div
        class="col-2 col-lg-1 d-flex justify-content-center align-items-center cursor-pointer"
        (click)="carousel.next()">
        <fa-icon [icon]="faChevronRight" size="3x"></fa-icon>
        <span class="sr-only">Next slide</span>
      </div>
    </div>
    <div class="text-center mt-5">
      <p class="text-center">For download links (SoundCloud), please contact Tyler in email</p>
      <div class="row mt-2 d-flex justify-content-center align-items-center">
        <div class="col-lg-3 ml-auto mr-auto text-center mb-5 mb-lg-0">
          <fa-icon class="cursor-pointer" [icon]="faEnvelope" size="3x"><span class="sr-only" (click)="emailLink.click()">Email</span></fa-icon>
          <a class="d-block" href="mailto:contact@tylerlevs.com" #emailLink>contact&#64;tylerlevs.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
