<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Bio</h2>
                <hr class="divider light my-4" />
                <p class="text-white-75 mb-4">
                    Tyler Levs is a singer/songwriter from Maine USA. With a taste for multiple genres 
                    and a passion for music, he performs live loop tracks as well as unplugged. </p>
                <p class="text-white-75 mb-4">Tyler has streamed live on Twitch.tv since 2017 where he 
                    has developed a positive community in addition to covering, writing, and collaborating 
                    on uploads to Youtube and Spotify. </p>
                <p class="text-white-75 mb-4">Tyler has also been featured on the Twitch front page for 
                    approximately 23,000 people. He has performed for various causes through Saving Music Live 
                    (a Twitch charity stream) as well as talent shows (The Austin Talent Show and 
                    “Gamers Got Talent” Luminosity gaming, and the Classify Talent Show).</p>
                <p class="text-white-75 mb-4">Tyler became a full-time musician in February of 2019 and 
                    became a Twitch Partner in June of 2020. Tyler continues to push for improvement in 
                    his musical capabilities as well as his experience as a human being.</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Contact Tyler</a>
            </div>
        </div>
    </div>
</section>