<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">For personal and business inquiries, or collaboration ideas send an email or write a message on Discord</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                <i class="fab fa-discord fa-3x mb-3 text-muted"></i><span class="sr-only">Discord</span>
                <div>TylerLevsMusic#0949</div>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0 text-center">
                <i class="fab fa-twitch fa-3x mb-3 text-muted"></i><span class="sr-only">Twitch</span>
                <a class="d-block" href="https://twitch.tv/tylerlevsmusic" target="_blank">TylerLevsMusic</a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0 mr-auto text-center">
                <i class="fab fa-tiktok fa-3x mb-3 text-muted"></i><span class="sr-only">Tiktok</span>
                <a class="d-block" href="https://www.tiktok.com/@tylerlevsmusic">@tylerlevsmusic</a>
            </div>
        </div>
        <div class="row mt-0 mt-lg-5">
            <div class="col-lg-3 ml-auto text-center mb-5 mb-lg-0">
                <i class="fab fa-twitter-square fa-3x mb-3 text-muted"></i><span class="sr-only">Twitter</span>
                <a class="d-block" href="https://twitter.com/tyler_levs" target="_blank">@Tyler_Levs</a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0 text-center">
                <i class="fab fa-instagram-square fa-3x mb-3 text-muted"></i><span class="sr-only">Instagram</span>
                <a class="d-block" href="https://www.instagram.com/tylerlevs/" target="_blank">tylerlevs</a>
            </div>
            <div class="col-lg-3 mb-5 mb-lg-0 mr-auto text-center">
                <i class="fab fa-facebook-square fa-3x mb-3 text-muted"></i><span class="sr-only">Faceboook</span>
                <a class="d-block" href="https://www.facebook.com/tylerlevs" target="_blank">tylerlevs</a>
            </div>
        </div>
        <div class="row mt-0 mt-lg-5">
            <div class="col-lg-3 ml-auto mr-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i><span class="sr-only">Email</span>
                <a class="d-block" href="mailto:tylerlevsmusic@gmail.com">tylerlevsmusic@gmail.com</a>
            </div>
        </div>
    </div>
</section>