<section class="page-section" id="youtube">
    <div class="container">
        <h2 class="text-center mt-0">Youtube</h2>
        <hr class="divider my-4" />
        <div class="row justify-content-center">
            <h5>My latest video</h5>
        </div>
        <div class="row justify-content-center">
            <iframe id="youtube_video" width="560" height="315"  frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row justify-content-center mt-5">
            <h5>Watch my other videos including covers and originals on the Youtube Channel</h5>
        </div>
        <div class="row justify-content-center mt-2">
            <a class="btn btn-primary btn-xl" href="https://www.youtube.com/channel/UCt9gSAPExmOmecTkO8SJbKw" target="_blank">Go to Youtube</a>
        </div>
    </div>
</section>