<div class="d-flex justify-content-center">
  <div class="card col-9 my-3 shadow">
    <div class="row">
      <div class="col-md-9 order-2 order-md-1">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{scheduledEvent.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{startDayjs.format('LLLL')}}
            <span *ngIf="endDayjs">&nbsp;-&nbsp;</span>
            <span *ngIf="endDayjs && duration <= 24">{{endDayjs.format('LT')}}</span>
            <span *ngIf="endDayjs && duration > 24"><br />{{endDayjs.format('LLLL')}}</span>
          </h6>
          <p class="card-text">{{ scheduledEvent.venue }}, {{scheduledEvent.town}}</p>
          <a *ngIf="scheduledEvent.venueLink" href="{{scheduledEvent.venueLink}}" class="card-link"
             target="_blank" rel="noopener noreferrer">
            Check out {{scheduledEvent.venue}} here
          </a>
          <p class="card-text mt-2" *ngIf="scheduledEvent.fbEventLink">
            <a href="{{scheduledEvent.fbEventLink}}" class="card-link" target="_blank" rel="noopener noreferrer">
              RSVP on Facebook here
            </a>
          </p>
        </div>
      </div>
      <div class="col-md-3 order-1 order-md-2">
        <div class="card-body h-100 bg-primary p-3 d-flex flex-column align-items-center justify-content-around text-white user-select-none">
          <div class="text-center"><h5>{{ startDayjs.format('MMMM') }}</h5></div>
          <div class="text-center"><h5>{{ startDayjs.format('Do') }} </h5></div>
          <div class="text-center"><h5>{{ startDayjs.format('YYYY') }}</h5></div>
        </div>
      </div>
    </div>
  </div>
</div>
