<div class="card mt-3 shadow">
  <img src="assets/img/{{release.imageName}}-cover.webp" class="card-img-top" alt="{{release.title}} cover art">
  <div class="card-body">
    <h5 class="card-title" >{{release.text.header}}</h5>
    <h6 *ngIf="release.text.subheader" class="card-subtitle mb-2 text-muted" [innerHTML]="release.text.subheader | unescape"></h6>
    <p *ngIf="release.text.text" class="card-text" [innerHTML]="release.text.text | unescape"></p>
    <div class="d-flex justify-content-center align-items-end">
      <a routerLink="/releases/{{release.category}}/{{release.id}}" class="btn btn-primary stretched-link">See details</a>
    </div>
  </div>
</div>

