@charset "UTF-8";
/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
/* Fonts */
@import './fonts.scss';

body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #113711;
  text-align: left;
  background-color: #fff;
  overflow-x: hidden;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
}

.bg-primary {
  background-color: #214a23 !important;
}

.page-section {
  padding: 6rem 0;
}

@media (min-width: 992px) {
  .page-section {
    padding: 10rem 0;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

hr {
  border: 0;
  margin: 1.35em auto;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
}

hr.divider {
  margin-left: auto;
  margin-right: auto;
  height: 0;
  $color: #157d17;
  color: $color;
  border: 2px solid currentColor;
  max-width: 3.25rem;
  opacity: 1;
}

a {
  color: #156016;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #157d17;
  text-decoration: underline;
}

a.btn:hover {
  text-decoration: none;
}

.text-white-75 {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary {
  color: #fff;
  background-color: #157d17;
  border-color: #157d17;
}

.btn-primary:hover {
  color: #fff;
  background-color: #12b315;
  border-color: #7aee0d;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #12b315;
  border-color: #7aee0d;
  box-shadow: 0 0 0 0.2rem rgba(122, 243, 65, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #157d17;
  border-color: #157d17;
}

.btn-outline-primary {
  color: #157d17;
  border-color: #157d17;
}

.btn-outline-primary:hover {
  color: #7aee0d !important;
  background-color: transparent;
  border-color: #7aee0d !important;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  color: #fff;
  background-color: #157d17;
  border-color: #157d17;
}

.btn-check:checked + .btn:hover {
  color: #fff !important;
  background-color: #7aee0d;
}

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}

.btn-light:focus, .btn-light.focus {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.cursor-pointer {
  cursor: pointer;
}
