<section class="page-section" id="twitch">
  <div class="container">
    <h2 class="text-center mt-0">Twitch Stream</h2>
    <hr class="divider my-4">
    <h5 class="text-center">Tyler is a full-time Twitch Partner!</h5>
    <div class="row text-center">
      <div class="container-fluid mt-3">
        <p class="text-muted">Tyler performs original songs and covers using a loopstation based on viewer requests.<br>
          Feel free to drop in, request a song and connect with our community!</p>
        <div class="text-center mt-4">
          <fa-icon [icon]="twitchIcon" size="3x"></fa-icon>
          <a class="d-block" href="https://twitch.tv/tylerlevsmusic" target="_blank">twitch.tv/TylerLevsMusic</a>
        </div>
        <h4 class="h4 mb-2 mt-5">Schedule</h4>
      </div>
    </div>
    <div id="schedule-table" class="container d-flex justify-content-center mt-5">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">
            <span>Streaming time</span>
          </th>
          <th scope="col">Content</th>
        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let streamingScheduleElement of streamingSchedule$ | async">
          <td>
            <span class="d-none d-sm-block">{{streamingScheduleElement.day}}</span>
            <span class="d-sm-none">{{streamingScheduleElement.dayShort}}</span>
          </td>
          <td *ngIf="!streamingScheduleElement.isOff">
            {{streamingScheduleElement.startHour}}
            <span class="small">{{streamingScheduleElement.startAMPM}}</span>
            <span *ngIf="streamingScheduleElement.startFlexible" class="small">*</span>
            - {{streamingScheduleElement.endHour}}
            <span class="small">{{streamingScheduleElement.endAMPM}}</span>
            ET
          </td>
          <td *ngIf="streamingScheduleElement.isOff">
            Off
          </td>
          <td>
            <span class="d-none d-sm-inline-block">{{streamingScheduleElement.contentLong}}</span>
            <span class="d-sm-none">{{streamingScheduleElement.contentShort}}</span>
            <span class="d-inline-block" *ngIf="streamingScheduleElement.contentFlexible">**</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row text-center">
      <div class="container-fluid mt-3">
        <p class="text-muted mb-0">These times are subject to change without notice due to personal reasons.</p>
        <p class="small text-muted mb-0">*On these days, start time is flexible. A notification goes out on Discord when
          Tyler goes live.</p>
        <p class="small text-muted mt-1 mb-0">Live events always take priority over Twitch streams.<br />Whenever the venue and the circumstances allow, Tyler will also stream his live events.</p>
      </div>
    </div>
  </div>
</section>
