<section class="page-section mt-3" id="events">
  <div class="container">
    <h2 class="text-center mt-0">Upcoming events</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <app-event-item  *ngFor="let scheduledEvent of eventsToShow | async" [scheduledEvent]="scheduledEvent"></app-event-item>
      <div *ngIf="futureEvents.length > numberOfEventsToShow" class="d-flex justify-content-center">
        <button class="btn btn-primary btn-xl" (click)="showMoreEvents()">Show all events</button>
      </div>
      <div *ngIf="numberOfEventsToShow > DEFAULT_EVENTS_TO_SHOW" class="d-flex justify-content-center">
        <button class="btn btn-primary btn-xl" (click)="showFewerEvents()">Show fewer events</button>
      </div>
      <div *ngIf="!futureEvents.length" class="col-9">
        <h5 class="text-center">No event planned... yet</h5>
      </div>
    </div>
  </div>
</section>
