<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <div>
      <fa-icon [icon]="faSpotify" size="5x" class="mb-3"></fa-icon>
      <h2 class="my-4">Find Tyler's music on Spotify!</h2>
      <a class="btn btn-light btn-xl" href="https://open.spotify.com/artist/5NUqe9c7M8oSBiHns5L6SE" target="_blank">Go to Tyler's Spotify</a>
    </div>
    <iframe
      src="https://open.spotify.com/follow/1/?uri=spotify:artist:5NUqe9c7M8oSBiHns5L6SE?si=nN49qgaNRLm_4I8UjY2glA&size=detail&theme=dark&show-count=0"
      width="200" height="56" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
  </div>
</section>
