<app-header></app-header>
<section class="page-section">
  <div class="container mt-lg-4" *ngIf="release | async">
    <h1 class="text-center">{{ (release|async)!.text.header }}</h1>
    <hr class="divider my-4">
    <h5 class="text-center" *ngIf="(release|async)!.text.subheader"
        [innerHTML]="(release|async)!.text.subheader! | unescape"></h5>
    <app-release-details-cover [release]="(release|async)!"></app-release-details-cover>
    <app-release-details-song-info *ngIf="(release|async)!.category === 'songs'"
                                   [release]="(release|async)!"></app-release-details-song-info>
    <app-release-details-collections-info *ngIf="(release|async)!.category === 'collections'"
                                          [release]="(release|async)!"></app-release-details-collections-info>
    <app-release-details-album-info *ngIf="(release|async)!.category === 'albums'"
                                    [release]="(release|async)!"></app-release-details-album-info>
  </div>
  <div class="container mt-lg-4">
    <app-loading-spinner *ngIf="(release|async) === undefined"></app-loading-spinner>
  </div>
</section>
